@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Science+Gothic:wght@100..900&display=swap');
@import 'tailwindcss';

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
  --font-title: "Science Gothic", sans-serif;
  --font-code: "JetBrains Mono", sans-serif;
  --color-bg: #2C2822;
  --color-surface: #363020;
  --color-terminal: #1e1a11;
  --color-muted: #605C4E;
  --color-primary: #A49966;
  --color-secondary: #C7C7A6;
  --color-accent: #EAFFDA;
}
